@import "../../../lib/stylesheets/main.scss";

.story-inputs-select {
  .demo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &.demo-centered {
      align-items: center;
    }
  }

  .demo > * {
    width: 25ch;
    margin-left: 7px;
    margin-right: 7px;
  }
}
