@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin button-hover($color) {
  &:hover {
    background-color: darken($color, $percent-action-hover);
  }
}

@mixin button-disabled() {
  &:disabled,
  &.minitab-ui-button-disabled {
    cursor: not-allowed;
    opacity: $percent-action-disabled;
  }
}
