@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin button-hover($color, $contrastColor: false) {
  &:not(.minitab-ui-button-disabled):not(:disabled):hover {
    @if $contrastColor {
      color: $contrastColor;
    }
    background-color: darken($color, $percent-action-hover);
  }
}

@mixin button-active($color) {
  &:active {
    background-color: darken($color, $percent-action-activated);
  }
}

@mixin button-disabled() {
  &:disabled,
  &.minitab-ui-button-disabled {
    cursor: not-allowed;
    opacity: $percent-action-disabled;
  }
}

@mixin button-focus() {
  &:focus {
    border-color: $color-action-focus;
    box-shadow: 0px 0px 0px 1px $color-action-focus;
  }
}
