import React from 'react';
import PropTypes from "prop-types";

import './component.scss';

export const {{pascalCase name}} = () => {
  return <div className='minitab-ui-{{dashCase name}}'>{{pascalCase name}}</div>;
};

{{pascalCase name}}.propTypes = {};
